@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.phone {
    font-weight: bold;
}
.nama{
    color:red;
}
main {
   padding: 20px;
}
main {
   padding: 20px;
   overflow: auto;
}
#content {
   float: left;
   width: 75%;
}
aside {
   float: right;
   width: 25%;
}
aside {
   float: right;
   width: 25%;
   padding-left: 20px;
}
* {
   box-sizing: border-box;
}
body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}
nav {
   background-color: #00a2c6;
   padding: 5px;
}
 nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}
nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}
 nav a:hover {
    font-weight: bold;
 }
 aside article header {
    text-align: center;
 }
 h2 {
    color: #00a2c6
 }
  
 h3 {
    color: #00a2c6
 }
#box #over p {
   height: 200px;
   width: 200px;
   background-color: lightgreen;
}
#box #boxz p{
   height: 200px;
   width: 200px;
   background-color: lightgreen;
   border: 1px solid cornflowerblue;
   padding: 20px;
}
#box #disrole li {
   display: inline;
   margin-left: 5px;
}
.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}
.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #00c8eb;
   text-align: center;
   color: white;
}
.container{
   display: flex;

   /* properti lainnya */
   width: 800px;
   height: 250px;
   background-color: #11C5C6;
   border: 2px solid black;
   padding: 20px;
   border-radius: 10px;
   margin: 0 auto;
}
.container2 {
   display: flex;
   flex-direction: column;

   /* Properti lainnya */
   width: 800px;
   height: 250px;
   background-color: #11C5C6;
   border: 2px solid black;
   padding: 20px;
   border-radius: 10px;
   margin: 0 auto;
}
.box{
   flex-grow: 1;
   background-color: #FBDD1C;
   margin: 5px;
   border: 2px solid black;
   border-radius: 10px;
}
.first {
   flex-grow: 1;
}
.second {
   flex-grow: 2;
}

.third {
   flex-grow: 1;
}
.flex-column {
   display: flex;
   flex-direction: column;

   /* properti lainnya */
   width: 800px;
   height: 300px;
   padding: 20px;
   margin: 0 auto;
   border: 2px solid black;
   border-radius: 10px;
   background-color: #11C5C6;
}

.flex-row {
   display: flex;
   flex-direction: row;
   flex-grow: 1;

   /* properti lainnya */
   padding: 20px;
   margin: 5px;
   background-color: #FBDD1C;
   border: 2px solid black;
   border-radius: 10px;
}
 footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
 }
 @media screen and (max-width: 1000px){
   header {
      display: inline;
   } 
   #content,
    aside{
       width: 100%;
       padding: 0;
    }
    nav {
      background-color: #00a2c6;
      padding: 5px;
      position: sticky;
      top: 0;
   }
 }